@font-face {
  font-family: 'Archivo';
  font-display: swap;
  /*src: url(/font/Archivo-VariableFont_wdth\,wght.ttf);*/
  src: url('/font/archivo-v19-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Martian Mono';
  src: url('/font/martian-mono-v3-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/*https://gwfh.mranftl.com/fonts/martian-mono?subsets=latin*/

/*https://gwfh.mranftl.com/fonts*/

/*oude font */
@font-face {
  font-family: Archivo Italic;
  font-display: fallback;
  src: url(/font/Archivo-Italic-VariableFont_wdth\,wght.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Archivo", sans-serif;
}

:root {
  --black: #222226;
  --grey: #666666;
  --white: #fff;
  --blue: #364bf7;

  --martian-mono: "Martian Mono", system-ui;
}

body{
  font-family: Archivo;
}


